{% extends 'student-layout.twig' %}
{% block title %} Welcome {% endblock %}
{% block content %}
<section>
    <h3 class="title">Dashboard </h3>
    Welcome to MOUAU Hostels. Click on <strong>Apply</strong> on the navigation menu to apply for a hostel accommodation or chech the status of your application.
</section>

{% endblock %}
