{% extends 'layout.twig' %}
{% block title %} Welcome {% endblock %}
{% block content %}
<section>
    <h3 class="title">Dashboard </h3>
    Welcome to MOUAU Hostels Admin Panel. From the Menu, you can add more hostels to the system. You can also reset the entire system for fresh allocations.
</section>

{% endblock %}
