<!DOCTYPE html>
<html>
<head>
<title>Admin Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="darkgreen">
</head>
<body>
<style>

body {
  background: white;
  color: darkgreen;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
padding: 40px;
text-decoration: none;
text-transform: uppercase;
color: white;
border-radius: 0px;
box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
margin: 20px;
font-weight: bold;
display: inline-block;
background: darkgreen;
}

.c {
  margin-top:50px;
}

</style>

<div class="c">
  <img style="max-height:50px" src="{{base_path()}}/public/assets/img/logo.svg" alt="logo"/>
  <br/>

  <h2>WELCOME TO MOUAU HOSTELS</h2>

  <a href="{{url_for('admin-login')}}">Admin Login</a>

  <a href="{{url_for('student-login')}}">Student Login</a>

</div>
</body>

</html>
